/*Burası tamamen Ahmet Bahar'ın yaptı kısım E-posta ahmetbahar.0987@gmail.com/*/


.body { background-color: azure;
}
.likeButton {
  background-color: green;
  color: white;
}

.dislikeButton {
  background-color: red;
  color: white;
}


.satir {
  position: relative;
  display: inline-block;
  background-color: #ef5c0e;
  border: none;
  color: black ;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;

}
.ayni {
  color: black;
  font-size: 20px;
  text-decoration: none;

}

.acilir-menu {
  font-size: 16px;
  display: none;
  position: absolute;
  background-color: floralwhite;
  min-width: 800px;
  min-height: 160px;
  box-shadow:   0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  background-color: rgba(37, 32, 32, 0.223);
}

.kot {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: gray;
  width: 1350px;
  height: 450px;
  
}

.kot-baslik {
  font-weight: bold;
  margin-bottom: 5px;
 color: #ef5c0e;
}

.kotlar {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  position: relative;
}

.kot1 {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

.cizgi {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.3s ease-in;
}

.kotlar:hover .cizgi {
  width: 0;
}
.kotlar1 {
  
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  position: relative;
}

.kot2 {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

.cizgi1 {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.3s ease-in;
}

.kotlar:hover .cizgi1 {
  width: 0;
}
.kotlar2 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  position: relative;
  height: 167px;

}

.kot3 {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

.cizgi2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

.kotlar2:hover .cizgi2 {
  transform: scaleX(1);
}

.muf {
  text-align: center;
} 
.ac {
  text-align: center;
}